@font-face {
    font-family: 'Quantum';
    src: 
        local('Quantum'),
        url('./Assets/Quantum.otf')
        format('opentype');
}

@font-face {
    font-family: 'QuantumCond';
    src: 
        local('QuantumCond'),
        url('./Assets/QuantumCond.otf')
        format('opentype');
}

@font-face {
    font-family: 'IBMPlexSansCondensed-Medium';
    src:
        local(IBMPlexSansCondensed-Medium),
        url('./Assets/IBMPlexSansCondensed-Medium.ttf')
        format('truetype');
}

body {
    display: flex;
    justify-content: center;
    background-color: black;
    background-image: url(./Deep_space.svg);
    background-size: cover;
    background-repeat: repeat;
}

#deep-space {
    width: 100vw;
    height: auto;
}

#black-hole-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 5;
}

#black-hole {
    position: relative;
    height: 95vmin;
    width: auto;
    margin: 0 auto;
    animation: slow-spin 120s linear infinite;
    z-index: 10;
}

#star {
    position: absolute;
    height: 5vmin;
    width: auto;
    margin: 0 auto;
    -webkit-animation: vanishing 6s linear infinite;
    animation: vanishing 6s linear infinite;
    z-index: 20;
}

button {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    width: 4.5rem;
    background-color: rgba(77, 54, 54, 0.616);
    border: 10px outset rgb(133, 140, 145);
    border-color: rgba(0, 0, 0, 0.103);
    border-radius: 1% 10%;
    color: silver;
    font-family: 'Quantum', Arial, sans-serif;
    font-size: 1.953rem;
}

button:hover {
    background-color: rgba(128, 59, 59, 0.507);
    border-color: #441515b7;
}

#info {
    display: none;
    position: absolute;
    top: 100px;
    left: 20px;
    width: 30vw;
    height: auto;
    padding: 5px 10px;
    color: gainsboro;
    background-color: rgba(27, 25, 25, 0.85);
    border-radius: 2px;
}

h1 {
    font-family: 'Quantum', Arial, sans-serif;
    font-size: 1.563rem;
}

h2 {
    font-family: 'QuantumCond', Arial, sans-serif;
    font-size: 1.25rem;
}

p {
    font-family: 'IBMPlexSansCondensed-Medium', Arial, sans-serif;
    font-size: 1rem;
}

#info a {
    color: aqua;
}

/*---- ANIMATION: STAR VANISHING AT THE EVENT HORIZON ----*/

@keyframes vanishing {
    0% {
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.75;
    }
    15% {
        -ms-transform: scale(2);
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 1;
    }
    30% {
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.5;
    }
    50% {
        opacity: 0;
    }
    100% {
    opacity: 0;
    }
}

/*---- ANIMATION: REVOLVING BLACK HOLE ----*/

@keyframes slow-spin {
    0% {
        -ms-transform: rotateZ(0);
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0);
    }
    100% {
        -ms-transform: rotateZ(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotateZ(360deg);
    }
}

/*---- MEDIA QUERIES ----*/

@media screen and (max-width: 600px) and (orientation: portrait){

#info {
    top: 40vh;
    width: 80vw;
}

button {
    height: 3rem;
    width: 3rem;
    z-index: 50;
    font-size: 1.563rem;
}

}