
body {
    display: flex;
    justify-content: center;
    background-color: black;
    background-image: url(./Deep_space.svg);
    background-size: cover;
    background-repeat: repeat;
}

#deep-space {
    width: 100vw;
    height: auto;
}

#black-hole-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 5;
}

#black-hole {
    position: relative;
    height: 95vmin;
    width: auto;
    margin: 0 auto;
    animation: slow-spin 120s linear infinite;
    z-index: 10;
}

#star {
    position: absolute;
    height: 5vmin;
    width: auto;
    margin: 0 auto;
    -webkit-animation: vanishing 6s linear infinite;
    animation: vanishing 6s linear infinite;
    z-index: 20;
}

button {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 4.2rem;
    width: 4.2rem;
    background-color: rgba(77, 54, 54, 0.616);
    border: 15px outset rgb(133, 140, 145);
    border-color: rgba(0, 0, 0, 0.103);
    border-radius: 50%;
    color: silver;
    font-size: 1.25rem;
    font-weight: bold;
}

#info {
    display: none;
    position: absolute;
    top: 80px;
    left: 20px;
    width: 30vw;
    height: auto;
    margin-top: 10px;
    padding: 0.75rem;
    color: gainsboro;
    background-color: rgba(41, 37, 37, 0.7);
    font-family: Arial, sans-serif;
    font-size: 1rem;
    border-radius: 2px;
}

.p-bold {
    font-weight: bold;
}

#info a {
    color: aqua;
}

/*---- ANIMATION: STAR VANISHING AT THE EVENT HORIZON ----*/

@keyframes vanishing {
    0% {
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.75;
    }
    15% {
        -ms-transform: scale(2);
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 1;
    }
    30% {
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.5;
    }
    50% {
        opacity: 0;
    }
    100% {
    opacity: 0;
    }
}

/*---- ANIMATION: REVOLVING BLACK HOLE ----*/

@keyframes slow-spin {
    0% {
        -ms-transform: rotateZ(0);
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0);
    }
    100% {
        -ms-transform: rotateZ(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotateZ(360deg);
    }
}

/*---- MEDIA QUERIES ----*/

@media screen and (max-width: 600px) and (orientation: portrait){

#info {
    top: 40vh;
    width: 80vw;
}

button {
    z-index: 50;
}

}